
.foto{
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    object-position: center top;
}
.diploma{
    margin-top: 290px;
    margin-left: 40px;
    width: 300px;
    border: 2px solid black;
}
.diploma2{
    margin-top: 15px;
    margin-left: 40px;
    width: 300px;
    border: 2px solid black;
}
.diploma3{
    margin-top: -679px;
    margin-left: 360px;
    width: 300px;
    border: 2px solid black;
}
.diploma4{
    margin-top: -445px;
    margin-left: 360px;
    width: 300px;
    border: 2px solid black;
}
.diploma5{
    margin-top: -232px;
    margin-left: 360px;
    width: 300px;
    border: 2px solid black;
}
body {
    background-color: beige;
    border: 4px solid black;
}
#ip{
    background-color:bisque;
    margin-top: 30px;
    margin-left: 40px;
    text-align: center;
    width: 300px;
    outline: 3px solid black;
}
#ia{
    font-weight: 90;
    margin-top: -638px;
    margin-left: 380px;
    text-align: center;
    width: 350px;
    outline: 3px solid black;
}
#hab{
    margin-top: -5px;
    margin-left: 380px;
    text-align: center;
    width: 350px;
    outline: 3px solid black;
}
#pro{
    margin-top: -650px;
    margin-left: 750px;
    text-align: center;
    width: 300px;
    outline: 3px solid black;
}
