body{
    display:inline-flex;
    justify-content: center;
}
contenedor_1{
    display: inline-grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 9vw;
    gap: 0vw;
    padding: 0vw;
    background-color: rgb(0, 0, 0);
}
contenedor_1 >div > video{
    border-radius: 5vw;
  margin: 5vw;
 
}
.video_dinosaur video{
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0vw;
    padding: 0vw;
    border-radius: 90vw;
    border: 10px solid rgb(155, 159, 163);
    width: 55vw;
    height: 25vw;
    border:0;
}

.video_paper{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 90vw;
    width: 54vw;
    height: 25vw;
    border:0;
}
.img_tex img{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 5vw;
    width: 50vw;
    height: 65vw;
    
}
.video_dinosaur2 {
    grid-row: 2 /  2;
    grid-column: 2 / 2;
    border: 3vw solid white;

}
contenedor2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; ;
    gap: 45vw;

}