contenedor_1{
    display: grid;
    width: 73vw;
    background-color: black;
}
.video_dinosaur img{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 34.7vw;
    border-radius: 40px;

}
.video_paper img{
    margin-top: -25vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border-radius: 40px;
    width: 34.7vw;
}
.img_tex img{
    width: 34.53vw;
    margin-top: 1vw;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 40px;   
}
.img_tex {
grid-column-start: 2;
grid-column-end: 3;
}
.video_dinosaur2 img{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: -36vw;
    margin-top: 1vw;
    margin-bottom: 1vw; 
    width: 70.5vw;
    border-radius: 40px;
}