#foto{
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
    background: transparent url('img/Path 1.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

 }
 #foto1{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url('images/foto1.png') 0% 0% no-repeat padding-box;
    opacity: 0,35;
    position: absolute
 }
 #foto2{

    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    /* UI Properties */
    background: transparent url('imgages/fotologo.png') 0% 0% no-repeat padding-box;
    position: absolute
 }
 