
html{
    margin-top: 0%;
}
#text_1{
    width: 4000vw;
    height: 4000vw;
    position: absolute;
    margin-top: 40vw;
    margin-left: 20vw;
}
#fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
#sun{
    width: 35vw;
    height: 20vw;
    position: relative;
    margin-top: 1vw;
    margin-left: 70vw;

}
#nube{
    width: 25vw;
    height: 25vw;
    position: relative;
    margin-top: -20vw;
    margin-left: 70vw;
}
#muñecos{
    width: 35vw;
    height: 20vw;
    position: relative;
    margin-top: 10vw;
    margin-left: 20vw;
}
#gota{
    width: 4vw;
    height: 4vw;
    position: absolute;
    margin-top: -40%;
    margin-left: 20vw;
}