@font-face {
    font-family:"Fuente1";
    src: url("../font/PlayfairDisplay-Black.ttf");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family:"Fuente2";
    src: url("../font/open-sauce.one-semibold.ttf");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family:"Fuente3";
    src: url("../font/Barlow-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    @media screen and (max-width: 300px) {
        #texto_titulo {
            font-size: 1rem;
        }
}
}

 body{
    background-color: black;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #a3a2a2;
    border-radius: 20px;
}
.principal{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.foto1{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 80%;
    object-fit: cover;
}
#texto_titulo{
    font-size: 5vw;
    margin-top: -55%;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: "Fuente1";
    color: rgb(255, 255, 255);
}
#encabezado_tex1{
    color: aliceblue;
    font-family: "Fuente3";
    font-size: 2vw;
    margin-top: -24%;
    margin-left: 15%;
}
#encabezado_tex2{
    color: aliceblue;
    font-family: "Fuente3";
    font-size: 1vw;
    margin-top: -4%;
    margin-left: 64%;
}
#encabezado_tex2:hover{
    cursor: pointer;
    text-decoration: underline #ebb85a;
}
a{
    color: #ffffff;
    text-decoration: none;
}
#encabezado_tex3{
    color: aliceblue;
    font-family: "Fuente3";
    font-size: 1vw;
    margin-top: -2.2%;
    margin-left: 70%;
}
#encabezado_tex3:hover{
    cursor: pointer;
    text-decoration: underline #ebb85a;
}
#encabezado_tex4{
    color: aliceblue;
    font-family: "Fuente3";
    font-size: 1vw;
    margin-top: -1.3%;
    margin-left: 76%;
}
#encabezado_tex4:hover{
    cursor: pointer;
    text-decoration: underline #ebb85a;
}
#encabezado_tex5{
    color: aliceblue;
    font-family: "Fuente3";
    font-size: 1vw;
    margin-top: -1.2%;
    margin-left: 81%;
}
#encabezado_tex5:hover{
    cursor: pointer;
    text-decoration: underline #ebb85a;
}
#texto_titulo2{
    font-size: 5vw;
    margin-top: 52vw;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: "Fuente1";
    color: rgb(255, 255, 255);
}
#texto_boton{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    font-size: 1vw;
    text-align: center;
}
#boton{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: 4vw;
    margin-left: 45%;
    max-width: 10%;
    min-height: 6vh;

}





#foto2{
    width: 50%;
    margin-left: -1%;
    margin-bottom: -55%;
    object-fit: cover;
    position: relative;
}
#linea{
    border: 1px solid #ffffff;
    width: 8vw;
    left: 55%;
    margin-top: 31.5%;
    position: relative;
}
#main_titulo{
    font-size: 4.5vw;
    margin-top: -3%;
    letter-spacing: 0.05em;
    margin-left: 65%;
    font-family: "Fuente1";
    color: rgb(255, 255, 255);

}
#texto_main{
    font-family:"Fuente2";
    font-size: 1vw;
    margin-top:2vh;
    left:65% ;
    color: #ffffff;
    position: relative;
}
#boton2{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: 2vw;
    margin-left: 65%;
    max-width: 10%;
    min-height: 6vh;
}
#texto_boton2{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    margin-left: 39vw;
    font-size: 1vw;
    text-align: center;
}


#foto3{
    width: 32%;
    margin-left: 62%;
    margin-top: 25%;
    object-fit: cover;
    position: relative;
}
#main_titulo2{
    font-size: 3.1vw;
    margin-top: -32%;
    letter-spacing: 0.05em;
    margin-left: 10%;
    font-family: "Fuente1";
    color: rgb(255, 255, 255);
}
#texto_main2{
    font-family:"Fuente2";
    font-size: 1vw;
    margin-top:3vh;
    left:10% ;
    color: #ffffff;
    position: relative;
}
#boton3{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: 2vw;
    margin-left: 10%;
    max-width: 10%;
    min-height: 6vh;
}
#texto_boton3{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    margin-left: -69vw;
    font-size: 1vw;
    text-align: center;
}


#main_titulo3{
    font-size: 4.5vw;
    margin-top: 20%;
    letter-spacing: 0.05em;
    margin-left: 5%;
    font-family: "Fuente1";
    color: rgb(255, 255, 255);
}
#cuadro{
    width: 22vw;
    height: 30vw;
    border: 1px solid #ce9e5a;
    border-radius: 7px;
    margin-left: 10%;
    margin-top: 15%;
}
#titulo_cuadro{
    font-family: "Fuente2";
    font-size: 1.4vw;
    top: -50vh;
    left:19% ;
    color: #ffffff;
    position: relative;
}
#texto_cuadro{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -40vh;
    left:18% ;
    color: #ffffff;
    position: relative;
}
#texto1_cuadro{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -35vh;
    left:18% ;
    color: #ffffff;
    position: relative;
}
#texto2_cuadro{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -30vh;
    left:18% ;
    color: #ffffff;
    position: relative;
}
#boton4{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: -11vw;
    margin-left: 16%;
    max-width: 10%;
    min-height: 6vh;
}
#texto_boton4{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    margin-left: -58vw;
    font-size: 1vw;
    text-align: center;
}

#cuadro2{
    width: 22vw;
    height: 30vw;
    border: 1px solid #ce9e5a;
    border-radius: 7px;
    margin-left: 40%;
    margin-top: -26.8%;
}

#titulo2_cuadro2{
    font-family: "Fuente2";
    font-size: 1.4vw;
    top: -50vh;
    left:49% ;
    color: #ffffff;
    position: relative;
}
#texto_cuadro2{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -39vh;
    left:48% ;
    color: #ffffff;
    position: relative;
}
#texto1_cuadro2{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -34vh;
    left:48% ;
    color: #ffffff;
    position: relative;
}
#texto2_cuadro2{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -30vh;
    left:48% ;
    color: #ffffff;
    position: relative;
}
#boton5{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: -11vw;
    margin-left: 46%;
    max-width: 10%;
    min-height: 6vh;
}
#texto_boton5{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    margin-left: 2vw;
    font-size: 1vw;
    text-align: center;
}

#cuadro3{
    width: 22vw;
    height: 30vw;
    border: 1px solid #ce9e5a;
    border-radius: 7px;
    margin-left: 70%;
    margin-top: -27%;
}
#titulo2_cuadro3{
    font-family: "Fuente2";
    font-size: 1.4vw;
    top: -50vh;
    left:79% ;
    color: #ffffff;
    position: relative;
}
#texto_cuadro3{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -39vh;
    left:78% ;
    color: #ffffff;
    position: relative;
}
#texto1_cuadro3{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -34vh;
    left:78% ;
    color: #ffffff;
    position: relative;
}
#texto2_cuadro3{
    font-family: "Fuente2";
    font-size: 1vw;
    top: -30vh;
    left:78% ;
    color: #ffffff;
    position: relative;
    
}
#boton6{
    border-radius: 0%;
    background-color: #ce9e5a;
    position: relative;
    margin-top: -11vw;
    margin-left: 77%;
    max-width: 10%;
    min-height: 6vh;
}
#texto_boton6{
    position: relative;
    font-family: "Fuente2";
    color: rgb(0, 0, 0);
    margin-top: -2vw;
    margin-left: 64vw;
    font-size: 1vw;
    text-align: center;
}



#linea2{
    border: 1px solid  #ce9e5a;
    width: 29vw;
    left: 36%;
    margin-top: 7%;
    position: relative;
}
#titulo_final{
    font-family:"Fuente3";
    font-size: 3vw;
    margin-top:20vh;
    left:20% ;
    color: #ffffff;
    position: relative;
}
#titulo2_final{
    font-family: "Fuente3";
    color: #ce9e5a;
    font-size: 3vw;
    margin-top:-7.5vh;
    left:29% ;
    position: relative;
}
#texto_final{
    font-family: "Fuente2";
    color: white;
    position: relative;
    font-size: 1vw;
    margin-top:1vh;
    left:-24% ;
    text-align: center;

}



#titulo_final2{
    font-family:"Fuente3";
    font-size: 3vw;
    margin-top:-16.5vh;
    left:45% ;
    color: #ffffff;
    position: relative;
}
#titulo2_final2{
    font-family: "Fuente3";
    color: #ce9e5a;
    font-size: 3vw;
    margin-top:-7.5vh;
    left:56% ;
    position: relative;
}
#texto_final2{
    font-family: "Fuente2";
    color: white;
    position: relative;
    font-size: 1vw;
    margin-top:3.5vh;
    left:1% ;
    text-align: center;
}




#titulo_final3{
    font-family:"Fuente3";
    font-size: 3vw;
    margin-top:-16.5vh;
    left:66% ;
    color: #ffffff;
    position: relative;
}
#titulo2_final3{
    font-family: "Fuente3";
    color: #ce9e5a;
    font-size: 3vw;
    margin-top:-7.5vh;
    left:78% ;
    position: relative;
}
#texto_final3{
    font-family: "Fuente2";
    color: white;
    position: relative;
    font-size: 1vw;
    margin-top:3.5vh;
    left:27% ;
    text-align: center;
}


#linea3{
    border: 1px solid  #ce9e5a;
    width: 29vw;
    left: 36%;
    margin-top: 10%;
    position: relative;
}
#textoFinal{
    font-family: "Fuente2";
    color: white;
    position: relative;
    font-size: 1vw;
    margin-top:3.5vh;
    left:40% ;

}
#textoFinal2{
    font-family: "Fuente2";
    color: #ce9e5a;
    position: relative;
    font-size: 1vw;
    margin-top: -1.2vw;
    left:8.5% ;
    text-align: center;
}

